@font-face {
    font-family: 'chaitanya';
    src: url('fonts/FileName.eot');
    src: url('fonts/FileName.eot?#iefix') format('embedded-opentype'),
         url('fonts/FileName.woff') format('woff'),
         url('fonts/FileName.ttf') format('truetype'),
         url('fonts/FileName.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
}
h1,h2,h3,h4,h5{
     font-family: 'Montserrat', sans-serif;
}
h1{
    font-size:24px;
}
h2{
    font-size:22px;
}
header{
    background: #0099cc;
    padding: 10px 0px;
    height:40px;
}
header .nav ul{
    padding:0;margin:0;
}
.container{
    width:80%;
    margin:0 auto;
    height:40px;
}
header .logo{
    float:left;
    margin-top: 10px;
}
header .logo a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
}
header .search_box {
    float:left;
    margin-left:18%;
    width:30%;
    position:relative;
}
header .search_box input[type="text"]{
    border:1px solid #EEE;
    height:32px;
    outline:none;
    text-indent:10px;
    color:#777;
    width:100%;
    font-size: 12px;
    font-weight: 700;
    border-radius:30em;
    font-family: 'Montserrat', sans-serif;
}
button.btn_search{
    background:none;
    border:none;
    outline:none;
    font-family: 'Montserrat', sans-serif;
    color:#777;
}
header .search_box button.btn_search{
    position: absolute;
    right: 6px;
    top: 8px;
    cursor:pointer;
}
header .nav{
    float:right;
}
header .nav ul li{
    display:inline-block;
}
header .nav ul li a{
    text-decoration:none;
    margin: 10px 18px;
    display:block;
    color: #fff;
    font-weight:bold;
    text-transform:capitalize;
}
header .nav ul li a:hover{
    color:#000;
    
}
header .nav ul li.active a{
    color: #bce5f3;
}
.clearfix{
    clear:both;
}
/*--- main_content --*/
.main_content .submenu,.main_content .sidebar{
    width:20%;
    float:left;
}
.main_content .submenu h4,.main_content .sidebar h4{
    color:#FFF;
    background:#0099cc;
    padding:15px;
}
.main_content .submenu ul{
    margin:0;padding:0;
}
.main_content .submenu ul li{
    display:block;
}
.main_content .submenu ul li a{
    text-decoration:none;
    padding:12px 10px;
    display:block;
    background:#f9f9f9;
    border-bottom:1px solid #EEE;
    color:#777;
}

.main_content .content{
    width:56%;
    float:left;
    margin:0 2%;
}
.news_grid .news_grid_left{
    width:30%;
    float:left;
}
.news_grid .news_grid_left img{
    width:100%;
}
.content_grid{
    padding:20px 0;
    
    border-bottom:1px solid #EEE;
}
.content_grid:first-child{
    padding-top:13px;
}
.content_grid img{
    width:100%;
    height:300px;
    overflow: hidden;
    margin-top: 15px;
}
.content_grid h2{
    color:#333;
    font-size:18px;
    margin:0;
    padding:0;
}
.content_grid p{
    font-size:12px;
    color:#777;
    line-height:20px;
}
.content_grid ul{
    margin:0 0 0 0;padding:0;
}
.content_grid ul li{
    display:inline-block;
    margin-right:20px;
}
.content_grid ul li a{
    color:#333;
    text-decoration:none;
}
.content_grid button.primary_btn{
    display:block;
    width:100px;
    background: #09c;
    color: #fff;
    border:none;
    padding:10px;
    border-radius:30em;
    margin-top:15px;
}
.news_grid .news_grid_right{
    width:67%;
    float:right;
}
.news_grid .news_grid_right h3{
    color:#333;
    margin:0;
}
.news_grid .news_grid_right p{
    color:#777; 
    margin-top:2px;
}
button.sec_btn{
    background:#EEE;
    border:none;
    font-family: 'Montserrat', sans-serif;  
    padding:5px 15px;
    font-size:12px;
    border-radius:30em;
}
.pagenation ul{
    margin:30px 0;
    padding:0;
   
}
.pagenation ul li{
    display:inline-block;
    margin-right: 10px;
}
.pagenation ul li a{
    background:#09c;
    padding:12px 15px;
    color:#FFF;
    font-weight: 400;
    text-decoration: none;
}
